
<div *ngIf ="errorMessage" class="alert alert-error">

    {{errorMessage}}
</div>


<form #formulaire = ngForm>
    <label for="nom">Name</label>
    <input [(ngModel)]="nom" type="text" name="nom" class="form-control">


    <label for="firstName">FirstName</label>

    <input [(ngModel)]="firstName" type="text" firstName="firstName" name="firstName" class="form-control">



    <label for="age">Age</label>

    <input  min="0" max="70"  id="age" type="number" [(ngModel)]="age" name="age" class="form-control">

    <label for="cin">Cin</label>
    <input  id="cin" type="number" [(ngModel)]="cin" name="cin" class="form-control">

    <label for="job">Job</label>
    <input id="job" type="text" [(ngModel)]="job" name="job" class="form-control">

    <label for="path">Path</label>
    <input  id="path" type="text" [(ngModel)]="path" name="path" class="form-control">

    <button [disabled]="formulaire.invalid" (click) ="AjouterCv(formulaire)" class="btn btn-primary">AjouterCv</button>
</form>
