<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">CvTech </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" [routerLink]="['']" routerLinkActive="active">homme <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" [routerLink]="['cv']"  routerLinkActive="active">cv <span class="sr-only"></span></a>
          </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['cv/add']"   routerLinkActive="active">AddCv</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['class']"   routerLinkActive="active">class</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['login']"   routerLinkActive="active">Login</a>
          </li>
         
       
      </ul>
    </div>
  </nav>
