<div class="d-flex justify-content-center" *ngIf="personne">

    <div class="col-lg-8 push-lg-4">
        <div class="tab-content p-b-3">
            <div class="tab-pane active" id="profile">
                <h4 class="m-y-2"> Cv {{personne?.firstName}} {{personne?.nom}} </h4>
                <div class="d-flex justify-content-centre">
                    <img width="150px" height="150px" class="rounded-circle" src="assets/images/{{personne.path|defaultimage}}">
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover table-striped">
                            <tbody>
                                <tr>
                                    <td>
                                        <strong>Name: </strong> {{personne?.nom}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>FirstName: </strong> {{personne?.firstName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Job: </strong> {{personne?.job}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Cin: </strong> {{personne?.cin}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="d-flex justify-content-centre">
                            <button class="btn btn-danger"(click)="deletePersonne()">
                                DeletePersonne
                            </button>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</div>

