<router-outlet></router-outlet>
<div class="row"> 

    <div class="col-md-6 col-sm-3">
        <app-listcv (selectedPersonne)="selectPersonne($event)" [personnes]="personnes"></app-listcv>
    </div>

    <div class="col-md-6 col-sm-9">
        <app-detailcv *ngIf="selectedPersonne   "
        [personne]="selectedPersonne"></app-detailcv>
    </div>

    <div class="row">
        <app-embauche></app-embauche>
    </div>



</div>
