<ol class="list-group">

    <li class="list-group-item" *ngFor = "let team of teams ; let ind = index">

        {{team}} {{ind}}
    </li>
</ol>


<p [ngClass]=
"

{
    'ca' : ca,
    'barca' : barca, 
    'dortmund' : dortmund 
}
"





>
class works!</p>


<div appHighlight>
    Bonjour je test une directive
</div>

<input *ngIf="show" type="text" class="form-control" appRinbow>

<button class="btn btn-primary" (click) ="show=!show"></button>
