<div *ngIf="personnes">
    <span  *ngFor="let personne of personnes">
        <img src="assets/images/{{personne.path|defaultimage}}" width="150px" height="150px" 
        class="rounded-circle"
        alt="{{personne.firstName}}"> 
     {{personne.nom|titlecase}} {{personne.firstName|titlecase}}
    </span>
</div>

