<div class="col-md-12 col-sm-12">
    <div class="card-container">
       <div class="card">
           <div class="front">
               <div class="cover">
                   <img src="assets/images/rotating_card_thumb2.png">
               </div>
               <div class="user">
                   <img class="assets/img-circle" src="assets/images/{{personne?.path|defaultimage}}">
               </div>
               <div class="content">
                   <div class="main">
                       <h3 class="name">{{personne?.nom }} {{personne?.firstName}}</h3>
                       <p class="profession">{{personne?.job}}</p>
                       <p class="text-center">"Je suis {{personne.nom}} {{personne.firstName}} étudiant en 5ème année cycle ingénieur à ESPRIT a la recherche d'un stage pfe fullstack"</p>
                   </div>
                   <div class="footer">
                       <i class="fa fa-mail-forward"></i> Auto Rotation
                   </div>
               </div>
           </div> <!-- end front panel -->
           <div class="back">
               <div class="header">
                   <h5 class="motto">{{personne.age}} ans</h5>
               </div>
               <div class="content">
                   <div class="main">
                       <h4 class="text-center">Longages et frameworks</h4>
                       <p class="text-center">Spring boot , Angular 8 ,C  </p>

                       <div class="stats-container">
                           <div class="stats">
                               <h4>235</h4>
                               <p>
                                   Followers
                               </p>
                           </div>
                           <div class="stats">
                               <h4>114</h4>
                               <p>
                                   Following
                               </p>
                           </div>
                           <div class="stats">
                               <h4>35</h4>
                               <p>
                                   Projects
                               </p>
                           </div>
                       </div>

                   </div>
               </div>
               <div class="footer">
                   <div class="social-links text-center">
                       <button (click)="embaucher()" class="btn succes">Embaucher</button>
                   </div>

                   <div class="social-links text-center">
                    <button (click)="moreInfo()" class="btn primary">Plus de details</button>
                </div>
               </div>
           </div> <!-- end back panel -->
       </div> <!-- end card -->
   </div> <!-- end card-container -->
</div>
