<form #loginFormulaire="ngForm">
    <label for="email">
        Email
    </label>
    <input 
    email 
    required 
    type="text" 
    ngModel 
    #Inputemail ="ngModel"
    name="email" 
   
    class="form-control" 
    id="email"
    >
    <div class="alert alert-danger" *ngIf="Inputemail.invalid && Inputemail.dirty">votre email est incorrect </div>
  

    <label for="pwd">
        Password
    </label>
    <input
    password 
    required 
    minlength="8" 
    type="password" 
    ngModel name="password" 
    #Inputpwd ="ngModel"


    class="form-control" 
    id="pwd"
    >
    <div class="alert alert-danger" *ngIf="Inputpwd.invalid && Inputpwd.touched">le password doit avoir au minmum 8 caratére </div>
    <button [disabled]="loginFormulaire.invalid" (click) ="login(loginFormulaire.value)" class="btn btn-primary">Login</button>


</form>

