<app-fils [filsProperty]="color"></app-fils>

<div [style.backgroundColor]="color">Color</div>

<input  [(ngModel)] ="color" type="text" class="form-control">

le comtenu est  {{color}}

<button (click)="loggerMesdata()" >Log data</button>



<button (click)="gotoCv()" >Go to Cv</button>
