<input
 type="text" 
 [(ngModel)]="chaine"
 class="form-control"
 (keyup)="search()"
 >

 <ol>
    <li 
    
    *ngFor = "let personne of searchResult"
    class="list-itemcv" 
    (click)="selectPersonne(personne)"
>

     <img src="assets/images/{{personne.path|defaultimage}}" width="50px" height="50px" alt=""> 
     {{personne.nom|titlecase}} {{personne.firstName|titlecase}}


    </li>

 </ol>
